
h1{
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: 5rem;
}

p{
  padding: 0px;
  margin: 0px;
  font-family: 'Lora', serif; 
}

h4{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 700;
  margin: 20px; 
}
/* fejrész */

.home{
   background-image: url('../assets/bannerbg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  color:white; 
  text-align: center;
}

.bgfade{
  background-color: rgba(000, 000, 000, 0.7);
  height: 100vh;
}

hr{
  max-width: 100px;
  border-width: 3px;
  border-color: coral;
  
}

.text{
  text-align: center;
  position: relative;
  top:35%;
}

.text p{
  color: white;
  padding: 1rem;
}



.btn{
  border-radius: 4px;
  border-color: coral;
  background-color: rgba(000,000,000, 0);
  color: coral;
  transition: 0.5s;
  padding: 10px 50px;
}

.btn:hover{
  background-color: coral;
  color: white;
  
}

/* Add a dark background color with a little bit see-through */ 


.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;

}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}





/* Service */ 

.serviceicon{
  text-align: center;
}

.serviceicon i{
  border-radius: 100px;
  padding: 20px;
  background-color: coral;
  color: white;
  margin-bottom: 20px;
}


/* ABOUT US */


.sektion{
  text-align: center;
  padding: 50px;
}

.container-fluid{
  width: 100%
}


.nomargo{
  margin-left: 0;
  margin-right: 0;
}

.balkep{
  background-image: url('../assets/leftpic.jpeg');
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.jobbkep{
  background-image: url('../assets/rightpic.jpeg');
  background-size: cover;
  background-position: center;
  height: 50vh;
}



.txt{
  padding: 7rem;
}

/* Our Team */ 

.team-card{
  position: relative;
  text-align: center;
}

img{
  display: block;
  height: 200px;
  width: auto;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: black;
}

.team-card:hover .overlay {
  opacity: .8;
}

.overlay-items{
  position: absolute;
  top: 50%;
  left: 50%;
  color:white; 
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 14px;
}
.team-info{
  text-align: center;
}

.team-info p{
  color: coral;
}

ul{
  display: block;
  list-style-type: none;
  padding: 0px;
}

li{
  display: inline-block;
  color: white;
  margin: 5px;
 
}
a {
  color: coral;
  transition: 1s;
}

a:hover{
  color:white;
}

/* Portfolio */ 



.count{
  text-align: center;
}

.counter{
  font-weight: 700;
  font-size: 36px;
}

.count p{
  margin: 5px;
}



/* Social icon */ 

.social-fild li{
  line-height: 58px;
  padding: 0px;
}

.social-fild a{
  display: inline-block;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
}

.social-fild a:hover{
  opacity: .6;
}

#face{
  background-color: #3B5998 ;
}

#twit{
  background-color: #55ACEE ;
}

#insta{
  background-color: #125688 ;
}

#goog{
  background-color: #dd4b39 ;
}




/* ADDRESS */ 

.address-fild{
  padding: 30px;
}

.address-fild p{
  padding: 3px;
}

.address-fild h4{
  padding-top: 0px;
}

.social-fild{
  text-align: center;
}



/* MAP */ 

#googleMap{
 margin-top: 20px;
}



/* FOOTER */ 


footer{
  height: 10vh;
  background-color: slategrey;
  color: black;
  text-align: center;
}


footer p{
  padding-top: 20px;
}

#footername{
  color: coral;

}

/* Slide anim */ 


.slideanim{
  visibility: hidden;
}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/* mobile */ 

@media screen and (max-width: 768px)
{
 
  .icon-sektion p{
    padding-bottom: 25px;
  }
  
  .txt{
    padding: 30px;
   
  }
  
  .team{
    margin-bottom: 25px;
  }
  
  .count{
    margin-bottom: 25px;
  }
  
}

@media screen and (max-width: 1199px)
{
  .order{
    display: flex;
    flex-direction: column;
  }

  .order1{
    order: 1;
  }
  
  .order2{
    order: 2;
  }
}



